body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    block-size: 100vh;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.app-dashboard {
    display: flex;
}

/*APP SIDEBAR*/

.dashboard-sidebar {
    display: flex;
    background-color: white;
    padding: 1rem .6rem;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
}

.dashboard-sidebar__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .5rem;
}

.dashboard-sidebar__action {
    background-color: rgba(218, 218, 218, 0.267);
    border: none;
    border-radius: .5rem;
    padding: .2rem;
    margin: 0;
    transition: all .25s ease;
}

.dashboard-sidebar__action:hover {
    background-color: black;
}

/*CONTENT APP*/

.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}

/*APP VIEWS*/

.inventory-view {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #000;
    background-color: #f5f5f5;
}

.inventory-panel {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}

.inventory-panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    background-color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 0 4px 0 rgba(190, 186, 186, 0.5);
    gap: 2rem;
}

.inventory-panel__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    border-radius: 10rem;
    box-shadow: 0 0 4px 0 rgba(190, 186, 186, 0.5);
    background-color: #fff;
}

.inventory-panel__tag--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #27272A;
    padding: .4rem;
    border-radius: 5rem;
}

.inventory-panel__tag--title {
    font-size: .6rem;
    font-weight: 600;
    padding: 0 .5rem;
}

/*INVENTORY TABLE*/

.inventory-table {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .8rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-block-size: 150px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(190, 186, 186, 0.4);
    border-radius: .6rem;
}

.inventory-table__row {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;
    padding: .5rem;
    color: gray;
    z-index: 0;
}

.inventory-table__cell {
    text-align: center;
}

.inventory-table__cell--head {
    color: black;
}

.inventory-table__cell--body:not(:last-child) {
    border-inline-end: 1px solid rgba(190, 186, 186);
}

.inventory-table__row--head {
    position: sticky;
    top: 0;
    box-shadow: none;
    background-color: rgba(132, 132, 132, 0.1);
    border-radius: .5rem .5rem 0 0;
    border: none;
    z-index: 5;
    backdrop-filter: blur(10px);
}

/*tooltip*/

.--tooltip-container {
    position: relative;
    font-family: 'Montserrat';
}

.--tooltip-container:hover .--tooltip-top {
    top: -170%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.--tooltip-container:hover .--tooltip-right {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.--tooltip-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: inherit;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .3s ease-in-out;

    padding: .3em .6em;
    background-color: #fff;
    border-radius: .4em;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

.--tooltip-right {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: .5rem;
    font-family: inherit;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out;

    padding: .3em .6em;
    background-color: #fff;
    border-radius: .4em;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

/* colores para el estado del producto*/
.--state {
    display: flex;
    align-items: center;
    justify-content: center;
}

.--able {
    background-color: green;
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: .4em;
}

.--critical {
    background-color: orange;
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: .4em;
}

.--out {
    background-color: red;
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: .4em;
}

.--visible {
    display: auto;
}

.--hidden {
    display: none;
}