body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    block-size: 100vh;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.app-dashboard {
    display: flex;
}

/*APP SIDEBAR*/

.dashboard-sidebar {
    display: flex;
    background-color: white;
    padding: 1rem .6rem;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
}

.dashboard-sidebar__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .5rem;
}

.dashboard-sidebar__action {
    background-color: rgba(218, 218, 218, 0.267);
    border: none;
    border-radius: .5rem;
    padding: .2rem;
    margin: 0;
    transition: all .25s ease;
}

.dashboard-sidebar__action:hover {
    background-color: black;
}

/*CONTENT APP*/

.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}

/*APP VIEWS*/

.inventory-view {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #000;
    background-color: #f5f5f5;
}

.inventory-panel {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}

.inventory-panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    background-color: #fff;
    padding: .3rem;
    border-radius: .5rem;
    box-shadow: 0 0 4px 0 rgba(190, 186, 186, 0.5);
    gap: 2rem;
}

.inventory-panel__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    border-radius: 10rem;
    box-shadow: 0 0 4px 0 rgba(190, 186, 186, 0.5);
    background-color: #fff;
}

.inventory-panel__tag--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #27272A;
    padding: .4rem;
    border-radius: 5rem;
}

.inventory-panel__tag--title {
    font-size: .6rem;
    font-weight: 600;
    padding: 0 .5rem;
}

/*INVENTORY TABLE*/

.inventory-table {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .8rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-block-size: 150px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(190, 186, 186, 0.4);
    border-radius: .6rem;
    border: 2px solid #fff;
}

.inventory-table__row {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;
    padding: .5rem;
    color: gray;
    z-index: 0;
}

.inventory-table__cell {
    text-align: center;
}

.inventory-table__cell--head {
    color: black;
}

.inventory-table__cell--body:not(:last-child) {
    border-inline-end: 1px solid rgba(190, 186, 186);
}

.inventory-table__row--head {
    position: sticky;
    top: 0;
    box-shadow: none;
    background-color: rgba(132, 132, 132, 0.1);
    border-radius: .5rem .5rem 0 0;
    border: none;
    z-index: 5;
    backdrop-filter: blur(10px);
}

.inventory-panel__action {
    padding: .4rem .5rem;
    background-color: #fff;
    border-radius: .6rem;
    outline: none;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.inventory-panel__actions {
    display: flex;
    gap: .5rem;
}

/*tooltip*/

.--tooltip-container {
    position: relative;
    font-family: 'Montserrat';
}

.--tooltip-container:hover .--tooltip-top {
    top: -170%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.--tooltip-container:hover .--tooltip-right {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.--tooltip-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: inherit;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .3s ease-in-out;

    padding: .3em .6em;
    background-color: #fff;
    border-radius: .4em;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

.--tooltip-right {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: .5rem;
    font-family: inherit;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out;

    padding: .3em .6em;
    background-color: #fff;
    border-radius: .4em;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

/* ===== Contenedor ===== */
.product-form-view {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.product-form-view.--hidden {
    display: none;
}

/* ===== Formulario ===== */
.product-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.product-group {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

/* ===== Título ===== */
.product-form__title {
    inline-size: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
    padding: .5rem 0;
    border-radius: .6rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

/* ===== Campos ===== */
.product-form__field {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin-bottom: 1.25rem;
}

.product-form__label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #333;
}

/* ===== Inputs ===== */
.product-form__input {
    padding: 0.6rem 0.75rem;
    font-size: 0.95rem;
    border-radius: 0.4rem;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    color: #111;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.product-form__input:focus {
    outline: none;
    box-shadow: 0 0 5px 0 rgba(120, 120, 120, 0.1);
}

.product-form__input::placeholder {
    color: #aaa;
}

.product-form__group {
    display: flex;
    gap: .5rem;
}

/* ===== Botón ===== */
.product-form__submit {
    width: 100%;
    margin-top: 0.75rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease,
        background-color 0.15s ease;
}

.product-form__submit:hover {
    background-color: #111;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
}

.product-form__submit:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

/* colores para el estado del producto*/
.--state {
    display: flex;
    align-items: center;
    justify-content: center;
}

.--able {
    background-color: green;
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: .4em;
}

.--critical {
    background-color: orange;
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: .4em;
}

.--out {
    background-color: red;
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: .4em;
}

.--visible {
    display: auto;
}

.--hidden {
    display: none;
}

input,
button,
select {
    font-family: 'Montserrat';
}